@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {background-color: $color-background}
<<<<<<< HEAD

.imgLink {
	display: flex;
}

.seperator {
	background-color: #000;
	height: 2px;
}

.videoPlayer {
	display: flex;
	img {
		object-fit: cover;
	}
}
=======
>>>>>>> 94c2fef0ff9b490d5a32509b4261df7b93982431
