@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {background-color: $color-background}

.imgLink {
	display: flex;
}

.seperator {
	background-color: #000;
	height: 2px;
}

#videoPlayer {
	display: flex;
	flex-wrap: wrap;
	img {
		object-fit: cover;
	}
}

video {
	min-width: 100%;
}
