@import 'config';

.heading {
  display: flex;
  justify-content: center;
}

.category-title {
  margin-left: $gutter;
  width: 100%;
}

.divider {
  justify-content: center;
  margin-bottom: $bottom-margin;

  &__line {
    height: 1px;
  }
}

@mixin picSettings {
  background-size: cover;
  display: flex;
  height: 300px;
  justify-content: flex-end;
  align-content: flex-end;
  width: 100%;
}

.list {
  margin: 0 auto;
}

.list-item {
  width: 100%;

  &__videoDuration {
    height: 20px;
    align-self: end;
  }

  &__videoText {
    margin-bottom: $bottom-margin;
  }

  &__video {
    height: 100%;
    width: 100%;

    &__1 {
      @include picSettings;
      background-image: url('../videos/small.png');
    }

    &__2 {
      @include picSettings();
      background-image: url('../videos/bunny.png');
    }

    &__3 {
      @include picSettings();
      background-image: url('../videos/16-9.png');
    }

    &__4 {
      @include picSettings();
      background-image: url('../videos/typing.png');
    }

    &__5 {
      @include picSettings();
      background-image: url('../videos/16-9.png');
    }

    &__6 {
      @include picSettings();
      background-image: url('../videos/drone.png');
    }
  }
}

.headline {
  text-align: center;
}
